<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-success" style="padding: 0.5em">
        <a class="navbar-brand" href="#">Экспертная система</a>
    </nav>

    <div class="container mt-3">
        {% if fuzzy_result and cnn_result %}
            <div class="row mb-2">
                <div class="col-lg-6 mx-auto">
                    <div class="card">
                        <div class="card-header text-center">
                            Результаты
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    {{ result }}
                                </div>
                                <div class="col-md-12 text-center">
                                    {{ cnn_result }}
                                </div>
                                <div class="col-md-12 text-center">
                                    {{ fuzzy_result }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row mb-3">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        Заполните форму
                    </div>
                    <div class="card-body p-3">
                        <form action="/check" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mt-2">Температура</label><br>
                                    <input type="text" name="bt" placeholder="градусов Цельсия" required><br>
                                    <label class="mt-2">Возраст</label><br>
                                    <input type="text" name="a" placeholder="полных лет" required><br>
                                    <label class="mt-2">Частота дыхательных движений
                                        <input type="text" name="rr" placeholder="циклов вдох-выдох\мин" required>
                                    </label><br>
                                    <label class="mt-2">Артериальное давление
                                        <input type="text" name="bp" placeholder="мм.рт.ст" required>
                                    </label><br>
                                </div>
                                <div class="col-lg-6">
                                    <label class="mt-2">Частота ударов сердца
                                        <input type="text" name="hr" placeholder="уд\мин" required>
                                    </label><br>
                                    <label class="mt-2">рН артериальной крови
                                        <input type="text" name="ab" placeholder="ммоль\л" required>
                                    </label><br>
                                    <label class="mt-2">Мочевина сыворотки крови
                                        <input type="text" name="su" placeholder="ммоль\л" required>
                                    </label><br>
                                    <label class="mt-2">Натрий сыворотки крови
                                        <input type="text" name="ss" placeholder="ммоль\л" required>
                                    </label><br>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <label class="mt-2">Азот мочевины
                                        <input type="range" class="form-range"
                                               name="bun" id="bun" min="0" max="11" step="0.1" value="4" required>
                                    </label><br>
                                    <p id="bun_value"></p>
                                </div>
                                <div class="col-lg-12">
                                    <label class="mt-2">Глюкоза сыворотки крови
                                       <input type="range" class="form-range"
                                               name="sg" id="sg" min="0" max="15" step="0.1" value="13" required>
                                    </label><br>
                                     <p id="sg_value"></p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <div class="w-50 mx-auto">
                                        <label class="mt-2">Рентген</label><br>
                                        <input type="file" class="form-control" name="image"><br>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-outline-success mt-3 mx-auto" value="Получить диагноз"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const input = document.getElementById('bun');
        const log = document.getElementById('bun_value');

        input.addEventListener('input', updateBun);

        function updateBun(e) {
          log.textContent = e.target.value;
        }

        const input1 = document.getElementById('sg');
        const log1 = document.getElementById('sg_value');

        input1.addEventListener('input', updateSg);

        function updateSg(e) {
          log1.textContent = e.target.value;
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>
</body>
</html>